.badge--requested {
	background-color: #dcd916;
	color: #fff;
  }
.badge--completed {
	background-color: #2ecc71;
	color: #fff;
  }
.badge--cancelled {
	background-color: #e74c3c;
	color: #fff;
	}
.badge--confirmed {
	background-color: #3498db;
}
.badge--onhold {
	background-color: #d59c15;
}
  