.invoice__header-text-style {
  z-index: 5;
  height: 22px;
  color: #17737e !important;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  line-height: 22px;
  background-color: blue($color: #17737e);
}

.invoice__body-text-style {
  margin-right: 5px !important;
  z-index: 5;
  height: 17px;
  color: #757575;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.invoice__logo {
  margin: 0 auto !important;
  display: block !important;
  text-align: center !important;
  cursor: pointer !important;
  color:#2ecc71 !important;
}

.invoice__payment_style {
  z-index: 6;
  width: 54.66px;
  height: 17px;
  color: #2ecc71 !important;
  cursor: pointer;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.invoice__Button_style {
  margin: 0 auto !important;
  padding: inherit;
  z-index: 4 !important;
  width: 122px !important;
  height: 36px !important;
  background-color: #2196f3 !important;
  color: white !important;
  font-family: Roboto;
  line-height: 17px !important;
  text-align: center;
}


