.quiz__text{
  font-family: 'Segoe UI' !important;
  font-size: 17px !important;
}

.quiz__radio{
  font-family: 'Segoe UI' !important;
  font-size: 15px !important;
}

.quiz_correct{
  color: rgb(8, 180, 94) !important;
  
}