.thankyou__logo {
  width: 65px;
  height: 65px;
  margin: 0 auto;
}
.thankyou__header {
  color: #17737e !important;
  margin:  0 auto !important;
  font-family: "Segoe UI";
  font-size: 60px;
  font-weight: 900;
  line-height: 85px;
}

.thankyou__body {
  z-index: 3;
  width: 700px;
  height: 160px;
  color: #464444;
  font-family: "Segoe UI";
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  text-align: center;
  margin: 0 auto !important;
}

.thankyou__button {
  z-index: 4;
  color: #ffffff !important;
  font-family: "Segoe UI" !important;
  font-size: 19px;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  background: #17737e !important;
  width: 250px !important;
  height: 55px !important;
  border-radius: 20px !important;
  margin: 0 auto !important;
}

.thankyou__social-media {
  z-index: 3;
  width: 45px;
  height: 45px;
  margin: 0 10px;
}


.thankyou__mail {
  z-index: 3;
  width: 52px;
  height: 45px;
  margin: 0 10px;
}

.thankyou__table-bottom{
  margin-bottom: 50px;
  margin: 0 auto !important;
}

.thankyou__table {
  width: 65px;
  margin: 10px,10px,10px,10px;
}

.thankyou_contact-us {
  z-index: 3;
  width: 115.31px;
  height: 32px;
  color: #686868;
  font-family: "Segoe UI";
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}