.slide-container {
  width: 70%;
  margin: auto; }

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 90vh;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 80%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #a0bcd6;
}

.training__button{
  width: 130px;
  height: 40px;
  background: linear-gradient(to bottom, #4eb5e5 0%,#389ed5 100%); /* W3C */
  border: none;
  border-radius: 5px;
  position: relative;
  border-bottom: 4px solid #2b8bc6;
  color: #fbfbfb;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
  text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  font-size: 15px;
  text-align: center;
  text-indent: 5px;
  box-shadow: 0px 3px 0px 0px rgba(0,0,0,.2);
  cursor: pointer;

/* Just for presentation */  
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}
.training__button:active {
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,.2);
  top: 1px;
}

.training__button:after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  border-top: 20px solid #187dbc;
  border-bottom: 20px solid #187dbc;
  border-left: 16px solid transparent;
  border-right: 20px solid #187dbc;
  position: absolute;
  opacity: 0.6; 
  right: 0;
  top: 0;
  border-radius: 0 5px 5px 0;  
}

// .training__image {
//   margin: 0 10px !important;
//   align-self: center !important;
//   width: 300px;
//   height: 200px;
// }

.training__image {
  z-index: 3;
  width: 800px;
  height:450px;
  margin: 0 10px;
}

.training__header {
  display: block;
  font-family: Montserrat !important;
  font-size: 30px !important;
  color: #17a2b8 !important;
}

.training-list-content {
  width:800px;
  margin-left: 50px;
  margin-right: 20px;
  padding: 50px;
  position: relative;
  border: 5px solid #edf5ff;
  transition: all 0.3s ease 0s;
  background-color:#f5feff;
  border-radius: 10px;
}

.training-list-content:hover {
  border: 5px solid #17a3b886;
}

.training__name {
  color: burlywood !important;
  text-decoration: solid bold;
}

.training__reference {
  height: 30px;
  width: 30px;
  margin: 0 0 0 auto;
  cursor: pointer;
}

// Hide Stepper Buttons
.stepper-container {
  display: none;
}